.hero{
    background-image: url('/src/assets/bg-shadow.png');
    background-position: center;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    border-radius: 16px;
}